# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp